@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.countdown {
  //background-image: url(../images/texture.svg);
  background-color: #ffa8a83a;
  padding: 20px;
  grid-area: countdown;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 150px));
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  border-bottom: 1px solid var(--black);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.countdown-segment {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  justify-items: center;
}

.countdown-segment-number {
  font-family: Peace;
  font-size: 6vmin;
  font-weight: 100;
}
  
  @media (max-width: 700px) {
    .countdown {
      grid-gap: 0;
    }
    .countdown-segment-number {
      font-size: 8vmin;
    }
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.navbar-brand {
    color: black !important;
}

.nav-link{
    color: black !important;
}
.nav-link{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.35rem;
    line-height: inherit;
    white-space: nowrap;
}

.text-uppercase {
    text-transform: uppercase!important;
    font-family: 'Permanent Marker';
}
.h1 {
    font-size: 1.5rem !important;
}

h1 {
    display: block;
    font-size: 2.5em;
    margin-block-start: -0.5em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Gochi Hand', cursive;
    //text-shadow: 2px 2px #0a0a0a;
    font-weight: bold;
    color: black;
}

h4 {
    display: block;
    margin-block-start: 5em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit
}
#root{
    background-image:
    linear-gradient(to top, (#ff9aa24f, #ffb7b22a, #ffdac12a, #e2f0cb4b), (#e2f0cb52, #b5ead736, #c7ceea52));
}
a{
    font-size: 20px;
}

body {
    margin:  0;
    padding: 0;
    line-height: 1;
    font-family: 'Gochi Hand', cursive;
    color: #202020;
    background-color: #fff;
    font-smooth: always;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}
.text-white{
    font-family: 'Permanent Marker';
}
.h2text {
        font-family: 'Permanent Marker';
        font-size: 5.4rem;
        text-transform: uppercase;
        letter-spacing: .64px;
        line-height: 6.1rem;
        color: #222;
}

.text-white {
    color: black!important;
}

.slogan{
    color: #ff9ad5;
    text-shadow: 1px 2px #080808;
    font-family: 'Gochi Hand', cursive;
    font-size: 10px;
    
}

.display-6{
    @media screen {min-width: none;}
    text-shadow: 2px 2px #0a0a0a;
    color: #ff9a9a !important;
    
  }

  

//smart phone
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .allButFooter{
        height: 450px;
        padding: 50px;
    }
    h1{
        font-size: 1.5em;
    }
    h4{
        margin-block-start: 1em;
        font-size: 1.8em;
    }
    .h5{
        font-size: 0.8rem;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .allButFooter{
        height: 450px;
        padding: 100px;
    }
}

//ipad
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .allButFooter{
        height: 650px;
        padding: 150px;
        font-size: 25px;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1223px) {
    .allButFooter{
        height: 950px;
        padding: 250px;
        font-size: 1rem;
    }
    
  
}

@media only screen and (min-width : 1224px){
.allButFooter{
    height: 200px;
    padding: 50px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .allButFooter{
        height: 520px;
        padding: 100px;
        font-size: 2rem;
        }
    }
// @media only screen and (max-width: 768px)  {
//     .allButFooter{
//         height: 650px;
//     }
// }

// @media only screen and (max-width: 576px)  {
//     .allButFooter{
//         height: 450px;
//     }
// }



//nav bar
.bg-dark{
    background-color: #b8e0f6!important;
}

.container{
    text-align:center;
}

//for the navigation
@media (min-width: 992px){
.nav-link{
    position:relative;
}

//for the navigation animation
.link2:after {
    content:'';
    position: absolute;
    width: 0; 
    height: 0.2em;
    display: block;
    right:0;
    background: rgb(255, 255, 255);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.link2:hover:after{
    width:100%;
    background: white;
  }
}

//jumbotron
.jumbotron-fluid, .parallax{
    @media screen {min-width: none;
        
    }

  background-attachment: fixed;
  background-image:
  linear-gradient(to top, (#ff9aa2b0, #ffb7b22a, #ffdac12a, #e2f0cb4b), (#e2f0cb52, #b5ead736, #c7ceea52)),
  url('./Assets/logo2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -2;
}

.parallax2{
    background-attachment: fixed;
    background-image:
  linear-gradient(to top, (#ff9aa24f, #ffb7b22a, #ffdac12a, #e2f0cb4b), (#e2f0cb52, #b5ead736, #c7ceea52));
}

/*adjusting the card */
.card{
    border: none;
    align-content: center;
}
.card-text{
    font-size:.7em;
}


/*footer*/
footer {
    background:#b8e0f6
}

//story page
.aboutme{
    color: #4a4a4a;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: normal;
}


footer input[type=text]{
   // border: 2px solid #fff;
  //  max-width: 190px;
    width: 100%;
    font-size: 1rem;
    color:#fff;
    font-weight: 400;
    padding: .7rem 1.4rem;
    background: none;
}

//to create the search button look
.buttonSearch{
    border: 1px solid #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    background: none;
    margin-left: 0.8rem;
    padding: .7rem;   
    font-family: 'Gochi Hand', cursive;
}

.buttonSubmit{
    border: 2px solid rgb(10, 0, 0);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(10, 0, 0);
    background: none;
    margin-left: -0.2rem;
    padding: .7rem;
}

.buttonDisabled{
    border: 2px solid rgb(10, 0, 0);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    color: grey;
    background: none;
    margin-left: -0.2rem;
    padding: .7rem;
    text-decoration: line-through;
    text-decoration-thickness: 30%;
}


.but[disabled]:hover {
    text-decoration: line-through;
    text-decoration-thickness: 30%;
}


/*social media*/
.cl{
   text-align: right;
   padding-right: 3.0rem !important;
   margin: 0.5rem 0.5rem;
}
/*social media*/
.fab {
    padding: 0.5rem 0.5rem;
    font-size: 2.5vw;
    width: 3vw;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
    color:#b5c6eb;
  }
  
  /* Add a hover effect for the social media*/
  .fab:hover {
    opacity: 0.7;
  }


img {
    cursor: pointer;
    max-width:100%;
    
}

.img-fluid{
    max-width : 100%;
    max-height: auto;
}

//make certain images without cursor
.none{
    cursor: default;
}

//making the zoom effect in story page
#parent{
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden; 
}
#parent img{
  display: block;
  transition: transform .4s; 
  max-width:100%;
}
#parent:hover img{
    transform: scale(1.5);
    transform-origin: 50% 50%;
}

//making the horizontal line
hr{
    height: 2.18px;
    background:#020303;
}

//coffeeDetails Page
.single{
    background: #f7f6fc49;
    padding: 1rem 1.5rem;
    font-size:1.1rem;
    line-height: 1.2rem;
    font-weight:200;
    letter-spacing: normal;
    text-align:left;
}

//section
.locateS{
    font-family:'Source Sans Pro',sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 3rem;
    text-transform: none;
    max-width : 600px;
    margin: 3.7rem auto 0;
}

//locate us
.leftToRight{
  position: relative;
  transition:color 0.25s ease;
}
//locate us
.leftToRight:hover{
    color:red;
}
//locate us
.leftToRight::after{
  position: absolute;
  content: '';
  bottom: -0.5vw;
  left: 55px;
  width: 0;
  height: 10%;
  background-color: black;
  transform-origin:left;
  transition:width 0.25s ease;
  z-index:-1;
}
.leftToRight:hover::after{
    width: 60%;
}

//adjusting the width of dropdown
.drop{
    width : 25%;
}

//using numeric input
.react-numeric-input input {
    width : 80%;
    right : 0;
}

//for the maps width and height
.leaflet-container {
    width: 100%;
    height: 100vh;
  }

//cart

.container-height{
    height: 58vh;
}

/// new css added
.effect-image-1{
	position: relative;
	display: block;
}

.effect-image-1:hover .overlay-xs-1{
    opacity: 1;
    visibility: visible;
    display: block;	
}

.overlay-sim-text-2{
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.overlay-sim-text-2{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(130, 248, 232, 0.911);
    opacity: 0;
}

.overlay-sim-text-2 p{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(36, 2, 2);
    padding: 20px 20px;
}

.card{
    margin: 2em 3em 3em 3em;
}

span{
    padding: 0.2em;
}


.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}


input[type=email]{
    color:black;
    padding: .375rem .75rem;
}
.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}



//media screen display
@media screen and (max-width: 768px) {
    .display-2 {
        font-size: 11vw;
        font-weight: 300;
        line-height: 1.2;
    }

    .locateS{
        font-family:'Source Sans Pro',sans-serif;
        font-size: 5vw;
        margin: 1rem auto 0;
    }

    .drop{
        width: 50%;
    }

    .jumbotron
    {
    background-size: 100% 100%;
    }
}
    
       
   
   
  
